<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles de la Cuenta de Ahorro</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    <h1>Detalles de la Cuenta de Ahorro</h1>
    <table class="details">
      <tr>
        <td><strong>ID</strong></td>
        <td>
          <%= saving.id %>
        </td>
      </tr>
      <tr>
        <td><strong>ID del Usuario</strong></td>
        <td>
          <%= saving.userId %>
        </td>
      </tr>
      <tr>
        <td><strong>Tasa de Interés</strong></td>
        <td>
          <%= saving.interestRate %>
        </td>
      </tr>
      <tr>
        <td><strong>Balance</strong></td>
        <td>
          <%= saving.balance %>
        </td>
      </tr>
    </table>
    <div class="button-group">
      <a href="/savings/<%= saving.id %>/edit" class="button">Editar Cuenta</a>
      <a href="/savings/newMovement/<%= saving.id %>" class="button">Realizar Movimiento</a>
      <a href="/savings/<%= saving.id %>/movements" class="button">Ver Movimientos</a>
      <a href="/savings/<%= saving.id %>/delete" class="button_delete">Eliminar</a>
      <a href="/savings" class="button">Volver al Listado</a>
    </div>
  </div>
</body>

</html>